body {
    background-color: #414446;
    font-family: sans-serif;
    color: #ededed;
    margin: 0;
}

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    overflow: hidden;
    background: transparent;
    margin: 0;
    padding: 0;
}

ul.topnav li.first-header {
    color: #ededed;
    font-family: sans-serif;
    font-size: 52px;
    float: left;
}

ul.topnav li.different {
    float: right;
    list-style: none;
}

ul.topnav li.first-header a {
    text-decoration: none;
    color: #ededed;
    padding: 14px;
    min-height: 16px;
}

ul.topnav li.different a {
    text-decoration: none;
    padding: 14px;
    color: #ededed;
    min-height: 1;
}

ul.topnav li.different a:hover {
    color: #00abf0;
}

ul.topnav li.dropdownIcon {
    float: right;
    list-style: none;
    display: none
}

ul.topnav li.dropdownIcon a {
    color: #ededed;
    min-height: 16px;
    text-decoration: none;
    font-size: 18px;
}

ul.topanv li.dropdownIcon a:hover {
    background-color: #00abf0;
}

/* Mobile Style Properties */

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownIcon {
        display: block;
    }
}

/* Content Styling */

div.content {
    padding-top: 100px;
    line-height: 1.5;
}

div.content h1.content-header1 {
    font-size: 52px;
    font-weight: bold;
}

/* Style properties and values for the button */

div.btn {
    background: transparent;
    padding-top: 32px;
}

div.btn button.btn1 {
    background: transparent;
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

div.btn button.btn1 a {
    text-decoration: none;
    color: #ededed;
}

div.btn button.btn1:hover {
    background-color: #00abf0;
}